server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/FinZen?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1091885063
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect # Usa el dialecto est?ndar
        format_sql: true
        jdbc:
          batch_size: 20
    open-in-view: false # Recomendado para aplicaciones REST

# Configuraci?n adicional recomendada
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.web: debug